
.p-t-0{
    padding-top: 0px;
}
.p-t-xs{
    padding-top: 5px;
}
.p-t-sm{
    padding-top: 10px;
}
.p-t-md{
    padding-top: 20px;
}
.p-t-lg{
    padding-top: 35px;
}
.p-b-0{
    padding-bottom: 0px;
}
.p-b-xs{
    padding-bottom: 5px;
}
.p-b-sm{
    padding-bottom: 10px;
}
.p-b-md{
    padding-bottom: 20px;
}
.p-b-lg{
    padding-bottom: 35px;
}
.p-l-0{
    padding-left: 0px;
}
.p-l-xs{
    padding-left: 5px;
}
.p-l-sm{
    padding-left: 10px;
}
.p-l-md{
    padding-left: 20px;
}
.p-l-lg{
    padding-left: 35px;
}
.p-r-0{
    padding-left: 0px;
}
.p-r-xs{
    padding-right: 5px;
}
.p-r-sm{
    padding-right: 10px;
}
.p-r-md{
    padding-right: 20px;
}
.p-r-lg{
    padding-right: 35px;
}
.p-x-0{
    padding-left: 0px;
    padding-left: 0px;
}
.p-x-xs{
    padding-right: 5px;
    padding-left: 5px;
}
.p-x-sm{
    padding-right: 10px;
    padding-left: 10px;
}
.p-x-md{
    padding-right: 20px;
    padding-left: 20px;
}
.p-x-lg{
    padding-right: 35px;
    padding-left: 35px;
}
.p-y-0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.p-y-xs{
    padding-top: 5px;
    padding-bottom: 5px;
}
.p-y-sm{
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-y-md{
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-y-lg{
    padding-top: 35px;
    padding-bottom: 35px;
}
.m-t-0{
    margin-top: 0px;
}
.m-t-xs{
    margin-top: 5px;
}
.m-t-sm{
    margin-top: 10px;
}
.m-t-md{
    margin-top: 20px;
}
.m-t-lg{
    margin-top: 35px;
}
.m-b-0{
    margin-bottom: 0px;
}
.m-b-xs{
    margin-bottom: 5px;
}
.m-b-sm{
    margin-bottom: 10px;
}
.m-b-md{
    margin-bottom: 20px;
}
.m-b-lg{
    margin-bottom: 35px;
}
.m-l-0{
    margin-left: 0px;
}
.m-l-xs{
    margin-left: 5px;
}
.m-l-sm{
    margin-left: 10px;
}
.m-l-md{
    margin-left: 20px;
}
.m-l-lg{
    margin-left: 35px;
}
.m-r-0{
    margin-left: 0px;
}
.m-r-xs{
    margin-right: 5px;
}
.m-r-sm{
    margin-right: 10px;
}
.m-r-md{
    margin-right: 20px;
}
.m-r-lg{
    margin-right: 35px;
}
.m-x-0{
    margin-left: 0px;
    margin-left: 0px;
}
.m-x-xs{
    margin-right: 5px;
    margin-left: 5px;
}
.m-x-sm{
    margin-right: 10px;
    margin-left: 10px;
}
.m-x-md{
    margin-right: 20px;
    margin-left: 20px;
}
.m-x-lg{
    margin-right: 35px;
    margin-left: 35px;
}
.m-y-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.m-y-xs{
    margin-top: 5px;
    margin-bottom: 5px;
}
.m-y-sm{
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-y-md{
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-y-lg{
    margin-top: 35px;
    margin-bottom: 35px;
}
[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}
.text-white {
  color: #fff !important;
}

.text-primary {
  color: #4e73df !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #224abe !important;
}

.text-secondary {
  color: #858796 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #60616f !important;
}

.text-success {
  color: #1cc88a !important;
}

a.text-success:hover, a.text-success:focus {
  color: #13855c !important;
}

.text-info {
  color: #36b9cc !important;
}

a.text-info:hover, a.text-info:focus {
  color: #258391 !important;
}

.text-warning {
  color: #f6c23e !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #dda20a !important;
}

.text-danger {
  color: #e74a3b !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #be2617 !important;
}

.text-light {
  color: #f8f9fc !important;
}

a.text-light:hover, a.text-light:focus {
  color: #c2cbe5 !important;
}

.text-dark {
  color: #5a5c69 !important;
}
a.no-underline{
    text-decoration: none;
}
input.error,
select.error,
textarea.error{
    border: 1px solid #f00;
    box-shadow: 0px 0px 3px 0px #f00;
}
.modal{
    background: rgba(0,0,0,0.2);
}
label.required::after{
    content: ' *';
    color: #f00;
}
#flash-message{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    border-radius: 0px;
    border-top: 0px;
    text-align: center;
}
.nowrap{
   white-space: nowrap;
}
.modal-content{
    border-radius: 0px !important;
}
.big{
    font-size: 1.2em;
}
.h-100 {
    height: 100%!important;
}
.font-weight-bold {
    font-weight: 700!important;
}

.border-left-default {
    border-left: 3px solid #dddddd !important;
}
.border-left-primary {
    border-left: 3px solid #4a8af5 !important;
}
.border-left-danger {
    border-left: 3px solid #d9534f !important;
}
.border-left-success {
    border-left: 3px solid #5cb85c !important;
}
.border-left-warning {
    border-left: 3px solid #f0ad4e !important;
}
.border-left-info {
  border-left: 3px solid #36b9cc !important;
}
.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 4px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px 20px;
}
.text-gray-800 {
    color: #5a5c69!important;
}
.text-gray-300 {
    color: #dddfeb!important;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.align-items-center {
    align-items: center!important;
}
.text-bold{
    font-weight: 700;
}
textarea.form-control{
    resize: vertical;
    min-height: 120px;
    height: 120px;
}