@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './framework.css';
@import './auth.css';
@import './admin.css';

:root{
    --color: #398439;
}

html,body{
    font-family: 'Roboto', sans-serif;
}
.color{
    color: var(--color);
}
a {
    color: var(--color);
}
.main-container{
    padding: 0px;
}
.main-container input,
.main-container button,
.main-container select,
.main-container textarea,
.main-container .btn{
    border-radius: 0px;
}
.main-container.main-container-basic{
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    /*min-height: 100vh;*/
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0 0 100%;
}
.form-control:focus {
    border-color: #469c7a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 233 132 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 233 132 / 60%);
}
.logo{
    display: inline-block;
    margin-right: 0px;
    width: 40px;
    height: 40px;
    background-image: url('../img/favicon/apple-touch-icon.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% auto;
    position: relative;
    top: 7px;
    border-radius: 5px;
}
.copyright{
    font-size: 11px;
    color: #999;
    margin-top: -10px;
    padding: 0px 15px;
}
.copyright-wrapper{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* --- new note --- **/
#new-note-btn{
    text-decoration: none;
    color: #fff;
    background: #5cb85c;
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 22px;
    border-radius: 16px;
    box-shadow: var(--color) 0px 0px 5px 0px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
#new-note-btn:hover{
    background: var(--color);
    transition: background .5s;
}
#new-note-btn i{
    position: relative;
    top: 2px;
}

/* --- quill js custom css --- */
#quill-editor-container,
#toolbar-container{
    border: 0px !important;
}

/* --- sidebar --- */
.page-menu-wrapper{
    background: #eee;
    min-height: 100vh;
    padding: 15px 0px;
    max-width: 180px;
    width: 100%;
}
.page-menu-wrapper{
    padding: 15px;
    width: 100%;
}
.page-menu-wrapper ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.page-menu-wrapper ul li{
    list-style-type: none;
}
.page-menu-wrapper ul li i{
    min-width: 20px;
    color: var(--color);
}
.page-menu-wrapper ul li a{
    color: #000;
    text-decoration: none;
    display: block;
    padding: 3px 0px;
}
.page-menu-wrapper ul li:hover a{
    color: var(--color);
}
.page-menu-wrapper ul li.bt-1{
    border-top: 1px solid #ccc;
}
.page-content-wrapper{
    padding: 15px;
    width: 100%;
    position: relative;
}