@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './framework.css';

:root{
    --color: #0ed518;
}

html,body{
    font-family: 'Roboto', sans-serif;
}
.color{
    color: var(--color);
}
.main-container{
    padding: 20px;
}
.modal{
    background: rgba(0,0,0,0.2);
}